
body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-image: url("./img/binary\ image.jpg");
    color: #ffffff;

}

main, h2{
    align-items: center;
    background-color: black;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 50px;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 20px;

}

ul{
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    margin-top: 10px;
}

button{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(4,149,4,1) 35%, rgba(255,243,0,1) 100%);
    border-radius: 10px;
    cursor: pointer;
    font-size: 2em;
    margin-top: 1em;
    align-items: center;
}

h1{
    font-size: 30px;
}

input{
    border: 3px solid #555;
    font-size: 20px;
}

#finalPrompt,
#answerButton,
#inputInit,
#submitInitials{
    display: flex;
    justify-content: center;
    padding: 2;
}

#view-high-scores{
    line-height: 1em;
    font-size: 1em;
}

.hide{
    display: none;
}

.timer-counter{
    padding-top: 1em;
}

#quiz-prompt-container{
    text-align: center;
}

#quizPrompt,
#final-Prompt-Container,
#score-board-container{
    font-size: 20px;
}

#answerButton{
    background-color: black;
}